:root
{
    --secondary-font : 'Gotham Rounded A','Gotham Rounded B',sans-serif;
}

body
{
    margin:0;
    padding: 0;
}

.border
{
    border: 1px solid black;
}
/* header styling */
.header
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo
{
    width: 8rem;
    height: 6rem;
}

.logo img
{
    width: 100%;
    object-fit: contain;
}

.nav
{
    width: 90%;
    margin-top: 3rem;
}

.nav ul
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav ul li
{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem;
    letter-spacing: 3;
}

.nav ul li:nth-child(2)
{
    border-bottom: 7px solid palevioletred;
}

.main-img
{
    width: 98%;
    height: 36rem;
    margin: 0px 1%;
    margin-top: -1rem;
    background-image: url(../images/family.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-img-content
{
    height: 60%;
    width: 60%;
    margin-top: 4%;
    margin-left: 7%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-img-content h5
{
    font-size: 1.2rem;
    letter-spacing: 3;
    font-weight: 500;
    margin-bottom: -3rem;
}

.main-img-content h3
{
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 8;
}

.header-sign
{
    font-size: 2.5rem;
    font-weight: 500;
}


/* about indication */

.about-indication
{
    width: 80%;
    margin:0px 5%;
    /* margin-top: -14rem; */
    font-size: 0.60rem;
    font-weight: 0;
    text-transform: uppercase;
    letter-spacing: 4;

}

#about-sign
{
    font-size: 1.1rem;
    font-weight: 1000;
}

#about-content
{
    color: palevioletred;
    font-weight: 1000;
}

/* glass section */

.glass-section
{
    width: 85%;
    height: 60rem;
    margin: 3% 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.glass-section-content
{
    width: 100%;
    text-align: center;
    

}

.glass-section-content p
{
    font-size: 0.9rem;
    letter-spacing: 3;
    word-spacing: 2;
    font-weight: 500;
    font-family: var(--secondary-font);
}



.glass-sub-section
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.glass-sub-section-left
{
    width: 40rem;
    height: 40rem;
}

.glass-sub-section-left img
{
    width: 100%;
    object-fit: cover;
}

.glass-sub-section-right
{
    width: 40rem;
    display: flex;
    background-color: aliceblue;
    color:#023f97;
    text-align: left;
    font-family: var(--secondary-font);
}

.glass-sub-section-right-content-left
{
    padding-top: 3.5rem;
    padding-left: 3.5rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
}

.glass-sub-section-right-content-right
{
    padding-top: 3.5rem;
    padding-left: 3.5rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
}


/* bottle 1 section */

.bottle1-section
{
    width: 85%;
    height: 38rem;
    margin: 0px 7.5% 5% 7.5%;
    display: flex;
}

.bottle1-section-content
{
    width: 35%;
    height: 100%;
    color: white;
    background-color: #4c85c0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bottle1-section-content .content
{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.content h4
{
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3;
}

.content h3
{
    font-size:2.4rem;
    font-weight: 300;
    letter-spacing: 5;
}

.content p
{
    font-weight: 300;
    line-height: 1.5;

}

.content a
{
    width: 15rem;
    height: 3rem;
    text-decoration: none;
    color: white;
    background-color: #023f97;
    display: grid;
    place-items: center;
    letter-spacing: 2;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 50px;
}

.bottle1-section-img
{
    width: 65%;
    height: 100%;
}

.bottle1-section-img img
{
    width: 100%;
    height: 100%;
}


/* bottle section 2 */


.bottle2-section-content
{
    width: 35%;
    height: 100%;
    color: white;
    background-color: #ff1a8c;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bottle2-section-content .content2
{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content2 a
{
    width: 15rem;
    height: 3rem;
    text-decoration: none;
    color: white;
    background-color: #e60073;
    display: grid;
    place-items: center;
    letter-spacing: 2;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 100px;
}

.content2 h3
{
    font-size:2.4rem;
    font-weight: 300;
    letter-spacing: 5;
}

.content2 p
{
    font-weight: 300;
    line-height: 1.5;

}


/* browse section */

.browse-section
{
    width: 85%;
    height: 40rem;
    color: white;
    background-color: #4c85c0;
    margin: 0px 7.5% 5% 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    align-items: center;
}

.browse-section-heading
{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 4;
}

.browse-section-content
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box
{
    width: 20%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img
{
    width: 40%;
    height: 30%;

}

.box-img img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box h5
{
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 1;

}

.box p 
{
    margin-top: -10px;
    text-align: center;
    font-weight: 200;
}

.box a 
{
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 1;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


/* footer */


.footer
{
    width: 100%;
    height: 15rem;
    color: white;
    background-image: url(../images/footerimg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content
{
    width: 40%;
    height: 50%;
    margin: 3rem 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-contact
{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */

}

.footer-contact-p
{
    width: 40%;
    height: 1.7rem;
    /* border: 1px solid black; */
    
}

.footer-find
{
    width: 30%;
    height: 50%;
}

.footer-find-icons
{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 80%;
    
}

.footer-copyright
{
    width: 70%;
    height: 10%;
    font-size: 1.1rem;
    margin-left: 8rem;
    margin-top: -2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}